html {
  /*font-size: 2rem;*/
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.h1container {
  margin: 0 15%;
}

h1 {
  color: #1dafec;
}

h2 {
}

h3 {
  margin-top: 1em;
}

footer {
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 0.5;
}